node_modules
.next
out
.git
.github
.vercel

.env
.env.local
.env.*.local

.vscode
.idea
*.swp
.DS_Store

coverage
playwright-report
test-results
storybook-static

Dockerfile*
.dockerignore
docker-compose*.yml

README.md
CHANGELOG.md
docs/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo
next-env.d.ts
